# Ignore Python cache and virtualenv
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.venv-py311

# Ignore logs and runtime files
*.log

# Ignore Jupyter and notebooks
.ipynb_checkpoints

# Ignore environment/config
.env

# Ignore datasets and indices (optional, if large)
data/processed/my_kb.jsonl
rag/indexes/
finetuning/data/finetune_splits/*.jsonl

# MacOS files
.DS_Store



